body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0
}

.countdown {
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	text-align: center;
	padding: 0 10px;
}

.time small {
	color: black;
}

#year {
	color: red;
	padding-right: 10px;
}

#days {
	color: cyan;
}

#hours {
	color: magenta;
}

#minutes {
	color: gold;
}

.legends-container {
	width: 80%;
	max-width: 1000px;
	position: relative;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f5f5f5;
	padding: 20px;
	cursor: pointer;
	z-index: 1
}

.legends-content {
	display: none
}

.legends-container.active .legends-content {
	display: block
}

.container {
	width: 80%;
	max-width: 1000px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 10px auto 20px
}

.legends-container.active strong::after {
	content: ":"
}

.search-container {
	text-align: right;
	margin-bottom: 20px
}

.data-container {
	width: 100%
}

.data-container table {
	width: 100%;
	border-collapse: collapse
}

.data-container th,
.data-container td {
	border: 1px solid #ddd;
	padding: 12px;
	text-align: center
}

.data-container th {
	background-color: #f2f2f2
}

.data-container tr:nth-child(even) {
	background-color: #f9f9f9
}

.data-container tr:hover {
	background-color: #f5f5f5
}

#searchInput {
	max-width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px
}

#contributionEndDate {
	max-width: 90%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px
}

@media only screen and (max-width:768px) {
	.search-container {
		text-align: center;
		margin-bottom: 10px
	}

	#searchInput {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px
	}

	.countdown {
		font-weight: bold;
		justify-content: center;
		padding: 10px;
		display: flex;
		justify-content: space-evenly;
		text-align: center;
	}

	.time small {
		padding: 10px;
	}
}

.contribution-calculator-container {
	width: 80%;
	max-width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f5f5f5;
	padding: 10px;
	cursor: pointer;
	z-index: 1
}

.contribution-calculator-content {
	display: none
}

.contribution-calculator-container.active .contribution-calculator-content {
	display: block
}

.calculator-container {
	width: 80%;
	max-width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f5f5f5;
	padding: 10px;
	cursor: pointer;
	z-index: 1
}

.calculator-content {
	display: none
}

.calculator-container.active .calculator-content {
	display: block
}

.loan-debt-container {
	width: 80%;
	max-width: 1000px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f5f5f5;
	padding: 10px;
	cursor: pointer;
	z-index: 1
}

.loan-debt-content {
	display: none
}

.loan-debt-container.active .loan-debt-content {
	display: block
}

#contributionCalculation {
	font-weight: bold;
}

#loanDebtCalculation {
	font-weight: bold;
}
